<%- include("./partiales/header.ejs") %>

<h1><%= post.title %></h1>
<p><%= post?.content %></p>
<p><%= post.createdAt %></p>
<p><%= post.updatedAt %></p>







<%- include("./partiales/footer.ejs") %>